<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

## Exercise 1 Reattempt (Ignore)

In [18]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

In [25]:
for tempc in temperatures_celsius:
    tempf = tempc * 1.8 + 32
    print(f'temp in celcius: {tempc} = temp in farenheit: {tempf}')

temp in celcius: 0 = temp in farenheit: 32.0
temp in celcius: 5 = temp in farenheit: 41.0
temp in celcius: 10 = temp in farenheit: 50.0
temp in celcius: 15 = temp in farenheit: 59.0
temp in celcius: 20 = temp in farenheit: 68.0
temp in celcius: 25 = temp in farenheit: 77.0
temp in celcius: 30 = temp in farenheit: 86.0
temp in celcius: 35 = temp in farenheit: 95.0
temp in celcius: 40 = temp in farenheit: 104.0
temp in celcius: 45 = temp in farenheit: 113.0
temp in celcius: 50 = temp in farenheit: 122.0

## Exercise 2 Reattempt (Ignore)

In [6]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [44]:
for orig in [1, 2, 3, 4, 5]:
    print(f'{orig}:', end='\t')
    for number in [1, 2, 3, 4, 5]:
        multiple = orig * number
        print(f'{multiple}', end='\t')
    print('\n')

1:	1	2	3	4	5

2:	2	4	6	8	10

3:	3	6	9	12	15

4:	4	8	12	16	20

5:	5	10	15	20	25

### Exercise 3 Reattempt (ignore)

In [56]:
import numpy as np
y = np.random.rand(10)
y

array([0.96548716, 0.2667515 , 0.56903349, 0.30438385, 0.27189934,
       0.1433345 , 0.46386377, 0.29223364, 0.23937823, 0.28181567])

In [59]:
mask = (y > 0.5)
y[mask]
len(y[mask])

2

In [63]:
import numpy as np

x = np.random.rand(10)

x

array([0.8929768 , 0.02731655, 0.46132407, 0.4863885 , 0.3522235 ,
       0.82112903, 0.52322459, 0.74462272, 0.08883919, 0.96566126])

Assume values > 0.5 are heads

In [64]:
mask2 = (x>0.5)
x[mask2]
len(x[mask2])

5

In [73]:
for i in range(10):
    x = np.random.rand(10)
    mask2 = (x>0.5)
    print(f'Experiment: {i+1}  Number of Heads: {len(x[mask2])}')

Experiment: 1  Number of Heads: 2
Experiment: 2  Number of Heads: 7
Experiment: 3  Number of Heads: 8
Experiment: 4  Number of Heads: 6
Experiment: 5  Number of Heads: 9
Experiment: 6  Number of Heads: 4
Experiment: 7  Number of Heads: 6
Experiment: 8  Number of Heads: 6
Experiment: 9  Number of Heads: 6
Experiment: 10  Number of Heads: 4

## Exercise 1 

Qns: You are provided with the following list of temperatures in Celsius. Write a quick Python snippet that converts each temperature to Fahrenheit and prints both temperatures as a Celsius, Fahrenheit pair.

In [71]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

for temperature in temperatures_celsius: 
    temperature_F = temperature * 1.8 + 32 
    print (f'{temperature} celcius = {temperature_F} fahrenheit')

0 celcius = 32.0 fahrenheit
5 celcius = 41.0 fahrenheit
10 celcius = 50.0 fahrenheit
15 celcius = 59.0 fahrenheit
20 celcius = 68.0 fahrenheit
25 celcius = 77.0 fahrenheit
30 celcius = 86.0 fahrenheit
35 celcius = 95.0 fahrenheit
40 celcius = 104.0 fahrenheit
45 celcius = 113.0 fahrenheit
50 celcius = 122.0 fahrenheit

## Exercise 2

In [72]:
for letter in ['A', 'B', "D"]:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

D1	D2	D3

In [73]:
for row in ['1', '2', '3', '4', '5']: 
    print(f"{row}:", end="")
    for number in [1, 2, 3, 4, 5]: 
        multiples = int(row) * number
        print(f'{multiples:2}', end='\t')
    print('\n')

1: 1	 2	 3	 4	 5

2: 2	 4	 6	 8	10

3: 3	 6	 9	12	15

4: 4	 8	12	16	20

5: 5	10	15	20	25

## Exercise 3

In [97]:
import numpy as np 

for i in range (1,11): 
    experiment = np.random.rand(10)
    head = 0
    for number in experiment: 
        if number > 0.5:
            head +=1 
    print(f"experiment {i} : No. of Heads = {head}")

experiment 1 : No. of Heads = 3
experiment 2 : No. of Heads = 5
experiment 3 : No. of Heads = 5
experiment 4 : No. of Heads = 7
experiment 5 : No. of Heads = 4
experiment 6 : No. of Heads = 5
experiment 7 : No. of Heads = 3
experiment 8 : No. of Heads = 2
experiment 9 : No. of Heads = 5
experiment 10 : No. of Heads = 4