<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

# What to expect in this chapter

## REWRITING NOTES

# 1 The for iterator

In [4]:
names = ["Jolene", "Joelle", "bobby", "Yuen Xuan", "Wei Jie", "Jun Hean", "Ming Rong", "Kendra", "Vanessa", "Joey", "Caitlin", "Ryan"]
majors = ["Chem", "Pharmacy", "Pharmacy", "Life Sciences", "Pharmacy", "Pharmacy", "Life Science", "Life Science", "Pharmacy", "Pharmacy", "Business and Psychology", "Biz Real Estate"]
years = ["1st year", "4th year", "4th year", "1st year", "4th year", "4th year", "1st year", "2nd year", "4th year", "4th year", "4th year", "4th year"]

In [58]:
index = 10
names[index], majors[index], years[index]      #corresponding to the same person

('Caitlin', 'Business and Psychology', '4th year')

Beautifying it using fstring:

In [59]:
index = 4
print(f'Name: {names[index]}, Major: {majors[index]}, Year: {years[index]}')

Name: Wei Jie, Major: Pharmacy, Year: 4th year

Printing multiple students manually:

In [60]:
index = 1
print(f'Name: {names[index]}, Major: {majors[index]}, Year: {years[index]}') 
index = 2
print(f'Name: {names[index]}, Major: {majors[index]}, Year: {years[index]}') 
index = 3
print(f'Name: {names[index]}, Major: {majors[index]}, Year: {years[index]}')

Name: Joelle, Major: Pharmacy, Year: 4th year
Name: bobby, Major: Pharmacy, Year: 4th year
Name: Yuen Xuan, Major: Life Sciences, Year: 1st year

For few ppl it's easy, but if a lot of ppl it's difficult -> the action is repeated, so we can use loops

### 3 ways to do loops:

#### 1st way using range(number)

In [61]:
for i in range(5):       # range creates a list for you starting frm 0 
    print(i)             # here you are printing it out

0
1
2
3
4

In [62]:
for index in range(12): 
    print(f'Name: {names[index]:<15}, Major: {majors[index]:<15}, Year: {years[index]:<15}')   # beautify by justifying info

Name: Jolene         , Major: Chem           , Year: 1st year
Name: Joelle         , Major: Pharmacy       , Year: 4th year
Name: bobby          , Major: Pharmacy       , Year: 4th year
Name: Yuen Xuan      , Major: Life Sciences  , Year: 1st year
Name: Wei Jie        , Major: Pharmacy       , Year: 4th year
Name: Jun Hean       , Major: Pharmacy       , Year: 4th year
Name: Ming Rong      , Major: Life Science   , Year: 1st year
Name: Kendra         , Major: Life Science   , Year: 2nd year
Name: Vanessa        , Major: Pharmacy       , Year: 4th year
Name: Joey           , Major: Pharmacy       , Year: 4th year
Name: Caitlin        , Major: Business and Psychology, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year

#### 2nd way using range(len(subject))

If we use range(12) or any number inside, we need to know how many people in this entire list. What if we don't know? 
- Use range(len()) -> total no. of elements inside the list
- If we remove bobby from the list, len() automatically updates it so we don't have issues

In [71]:
for index in range(len(names)): 
    print(f'Name: {names[index]:<15}, Major: {majors[index]:<15}, Year: {years[index]:<15}')

Name: Jolene         , Major: Chem           , Year: 1st year
Name: Joelle         , Major: Pharmacy       , Year: 4th year
Name: bobby          , Major: Pharmacy       , Year: 4th year
Name: Yuen Xuan      , Major: Life Sciences  , Year: 1st year
Name: Wei Jie        , Major: Pharmacy       , Year: 4th year
Name: Jun Hean       , Major: Pharmacy       , Year: 4th year
Name: Ming Rong      , Major: Life Science   , Year: 1st year
Name: Kendra         , Major: Life Science   , Year: 2nd year
Name: Vanessa        , Major: Pharmacy       , Year: 4th year
Name: Joey           , Major: Pharmacy       , Year: 4th year
Name: Caitlin        , Major: Business and Psychology, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year

In [72]:
for whatever in names:         # whatever is just a placeholder, you can use anything 
    print(whatever)

Jolene
Joelle
bobby
Yuen Xuan
Wei Jie
Jun Hean
Ming Rong
Kendra
Vanessa
Joey
Caitlin
Ryan

#### What if you want to unpack more than 1 list concurrently? Use ZIP

In [73]:
for name, major in names,majors:              # list cannot unpack 2 bcos syntax doesn't allow it, so we use zip
    print(name, major)

ValueError: too many values to unpack (expected 2)

In [74]:
for name, major, year in zip(names,majors,years):              # list cannot unpack 2 bcos syntax doesn't allow it, so we use zip
    print(name, major, year)

Jolene Chem 1st year
Joelle Pharmacy 4th year
bobby Pharmacy 4th year
Yuen Xuan Life Sciences 1st year
Wei Jie Pharmacy 4th year
Jun Hean Pharmacy 4th year
Ming Rong Life Science 1st year
Kendra Life Science 2nd year
Vanessa Pharmacy 4th year
Joey Pharmacy 4th year
Caitlin Business and Psychology 4th year
Ryan Biz Real Estate 4th year

## 1.2 for with enumerate

In [75]:
for name in names: 
    print(f'Name: {names[index]:<15}, Major: {majors[index]:<15}, Year: {years[index]:<15}')

Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year

It's not working!

In [76]:
index = 0 
for name in names: 
    print(f'Name: {names[index]:<15}, Major: {majors[index]:<15}, Year: {years[index]:<15}')  
    index +=1

Name: Jolene         , Major: Chem           , Year: 1st year
Name: Joelle         , Major: Pharmacy       , Year: 4th year
Name: bobby          , Major: Pharmacy       , Year: 4th year
Name: Yuen Xuan      , Major: Life Sciences  , Year: 1st year
Name: Wei Jie        , Major: Pharmacy       , Year: 4th year
Name: Jun Hean       , Major: Pharmacy       , Year: 4th year
Name: Ming Rong      , Major: Life Science   , Year: 1st year
Name: Kendra         , Major: Life Science   , Year: 2nd year
Name: Vanessa        , Major: Pharmacy       , Year: 4th year
Name: Joey           , Major: Pharmacy       , Year: 4th year
Name: Caitlin        , Major: Business and Psychology, Year: 4th year
Name: Ryan           , Major: Biz Real Estate, Year: 4th year

It works now. We use the for loop to go thru the names. Then take index to add it by 1. That helps to increase it and print it correctly

What if I want to count my list?

In [79]:
index = 0
for name in names: 
    print(f'{index+1}: Name: {names[index]:<15}, Major: {majors[index]:<15}, Year: {years[index]:<15}')
    index +=1

1: Name: Jolene         , Major: Chem           , Year: 1st year
2: Name: Joelle         , Major: Pharmacy       , Year: 4th year
3: Name: bobby          , Major: Pharmacy       , Year: 4th year
4: Name: Yuen Xuan      , Major: Life Sciences  , Year: 1st year
5: Name: Wei Jie        , Major: Pharmacy       , Year: 4th year
6: Name: Jun Hean       , Major: Pharmacy       , Year: 4th year
7: Name: Ming Rong      , Major: Life Science   , Year: 1st year
8: Name: Kendra         , Major: Life Science   , Year: 2nd year
9: Name: Vanessa        , Major: Pharmacy       , Year: 4th year
10: Name: Joey           , Major: Pharmacy       , Year: 4th year
11: Name: Caitlin        , Major: Business and Psychology, Year: 4th year
12: Name: Ryan           , Major: Biz Real Estate, Year: 4th year

index+1 because default starts at 0

I can also use enumerate!

In [82]:
# index = 0 
for index,name in enumerate(names):
    print(f'{index+1}: Name: {name:<10}, Major:{majors[index]:<30}, Year: {years[index]:<10}')
    # index += 1

1: Name: Jolene    , Major:Chem                          , Year: 1st year
2: Name: Joelle    , Major:Pharmacy                      , Year: 4th year
3: Name: bobby     , Major:Pharmacy                      , Year: 4th year
4: Name: Yuen Xuan , Major:Life Sciences                 , Year: 1st year
5: Name: Wei Jie   , Major:Pharmacy                      , Year: 4th year
6: Name: Jun Hean  , Major:Pharmacy                      , Year: 4th year
7: Name: Ming Rong , Major:Life Science                  , Year: 1st year
8: Name: Kendra    , Major:Life Science                  , Year: 2nd year
9: Name: Vanessa   , Major:Pharmacy                      , Year: 4th year
10: Name: Joey      , Major:Pharmacy                      , Year: 4th year
11: Name: Caitlin   , Major:Business and Psychology       , Year: 4th year
12: Name: Ryan      , Major:Biz Real Estate               , Year: 4th year

Enumerate gives the NAME and COUNT (count starts at 0, that's why need to +1)

In [83]:
# index = 0 
for index,name in enumerate(names, start=10):
    print(f'{index+1}: Name: {name:<10}, Major:{majors[index]:<30}, Year: {years[index]:<10}')
    # index += 1

11: Name: Jolene    , Major:Business and Psychology       , Year: 4th year
12: Name: Joelle    , Major:Biz Real Estate               , Year: 4th year

IndexError: list index out of range

This doesn't work because indexing is broken

In [95]:
for index, name in enumerate(names):
    year = years[index]
    year = year[0:2]
    
    print(f'{index+1}: Name: {name:<10}, Major:{majors[index]:<30}, Year: {year:<10}')

1: Name: Jolene    , Major:Chem                          , Year: 1s
2: Name: Joelle    , Major:Pharmacy                      , Year: 4t
3: Name: bobby     , Major:Pharmacy                      , Year: 4t
4: Name: Yuen Xuan , Major:Life Sciences                 , Year: 1s
5: Name: Wei Jie   , Major:Pharmacy                      , Year: 4t
6: Name: Jun Hean  , Major:Pharmacy                      , Year: 4t
7: Name: Ming Rong , Major:Life Science                  , Year: 1s
8: Name: Kendra    , Major:Life Science                  , Year: 2n
9: Name: Vanessa   , Major:Pharmacy                      , Year: 4t
10: Name: Joey      , Major:Pharmacy                      , Year: 4t
11: Name: Caitlin   , Major:Business and Psychology       , Year: 4t
12: Name: Ryan      , Major:Biz Real Estate               , Year: 4t

What if I only want to show people in the first year?

In [7]:
for index, name in enumerate(names): 
    year = years[index]
    if year == "1st year":
        print(f'{index+1}: Name: {name:<10}, Major:{majors[index]:<30}, Year: {year:<10}')
    # else: 
        # print('Not a first year')

1: Name: Jolene    , Major:Chem                          , Year: 1st year
4: Name: Yuen Xuan , Major:Life Sciences                 , Year: 1st year
7: Name: Ming Rong , Major:Life Science                  , Year: 1st year

What if I want it to be consistent naming? Now it's science and sciences

In [9]:
for index, name in enumerate(names):
    if majors[index] == 'Life Sciences': 
        major = 'Life Science'
        
    year = years[index]
    if year == "1st year":
        print(f'{index+1}: Name: {name:<10}, Major:{major:<30}, Year: {year:<10}')
    # else: 
        # print('Not a first year')

1: Name: Jolene    , Major:Chemistry                     , Year: 1st year
4: Name: Yuen Xuan , Major:Life Science                  , Year: 1st year
7: Name: Ming Rong , Major:Life Science                  , Year: 1st year

# 2 while

In [2]:
x = 10

while x >= 0: 
    print(x)
    x -= 1

10
9
8
7
6
5
4
3
2
1
0